body{
    background-color: lightgrey;
    padding:0;

}

.contact-container{
    max-width: 60%;
    margin:0 auto;
    padding: 2rem;
}

header{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
}

form{
    margin: 0 auto;
    padding: .75rem;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
}

label{
    font-weight: bold;
}

div{
    padding:.5rem 1.5rem;

}

.info-container{
    display: flex;
    flex-direction: column;
}

.row, .row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row{
    gap: 2rem;
}

.row2{
    gap: 1rem;
}

.row label, .row2 label{
    flex: 1;
}

input[type="text"], textarea, select{
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}